*{
    font-family: Helvetica;
} 
body {      
    max-width: 100%;
} 

.main-icon img{
    width: 30px;
    height: 30px;
}
.main-icon{
    display: flex;
    align-items:center;
    gap: 5px;

}
.search-bar{
    border:2px solid gray;
    width: 30%;
    border-radius: 30px;
    border-style: none;
    border-color: gray;
    gap: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.9);
    margin-left: 25%;
    height: 60px;
}
.search-bar .search-content{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.main-header nav{
    display: flex;
    justify-items:center ;
}
.search-icon{
    font-size:20px ;
    margin-bottom:600px ;
    align-items: center;
    justify-content: center;

}
.fa-magnifying-glass {
    background-color: red;
    border-radius: 100px;
    padding: 16px 17px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left:17px ;
}
.search-bar .search-content h1:not(:nth-child(3)){
    border-right: 0 5px solid gray;
    padding: 0 5px;
}
h1:nth-child(3){
    padding: 0 5px;
    color:gray
}
.profiles{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 15rem;
}
.accounts{
    border: 0.5px solid gray;
    border-radius: 18px;
    padding: 5px;
    width: 50px;
    height: 40px;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px;
    align-items: center;
    color: blue;
}
.hero-header nav{
    display: flex;
    align-items: center;
    gap:40px ;
   
}
.nav-links{
    width: 80%;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width:none ;
    white-space: nowrap;
    flex-direction: column;
    margin-left: 10px;
    max-width: 80%;
    border-right: 0.2px solid gray;
    border-left: 0.5px solid gray;
    padding: 0px 5px;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgb(red, green, blue);
    border-radius:10px
    background-color: aqua;
    margin-left: 10px;
    background-color: rgb(195, 195, 230);
}
.filter-links{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}
.hero-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters{
    display: flex;
    margin-right: 20px;
        align-items: center;
    gap: 5px;
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 5.5px 10px;
    width:65px ;
    height:50px ;
    margin-top: 20px;
}
.taxes{
    display: flex;
    align-items: center;
    gap: 5px;
    border:0.5px solid gray ;
    border-radius:20px ;
    padding: 5.5px 10px;
    margin-right: 27px;
    margin-top: 5px;
   
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
}
.card img{
    width:230px;
    height:150px ;
    border-radius:15px ;
    object-fit: cover;
    padding: 10px;
}
.card img:hover {
    cursor: pointer;
    box-shadow: inset;
}

.card p {
    padding: 5px;
}
.card h4 {
    padding: 5px;
}
.card h2 {
    padding: 5px;
}
.location .ratings {
    display: flex;
    justify-content:center;
    margin-left: 75px;
}
.location {
    display: flex;
    flex-direction:row;
    align-items: center;
}
.main-links{
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    justify-content: space-between;
    
}
.foot ol{
    display: flex;
    align-items: center;
    font-display: flex;
}
.main-links ol{
    list-style: none;
}
.foot ol{
    list-style: none;
    white-space: 20px;
    margin-top: 20px;
}
.foot section{
    justify-content: right;
    margin-left: 80%;
    margin-bottom: 40px;
}








